{{#if singleFishtank.fish}}

  <table class="ui unstackable striped table">
    <thead>
      <tr>
        
        <th>Fish <i class="fa-solid fa-fish"></i></th>
        <th>Species <i class="fa-solid fa-address-card"></i> </th>
        <th>Color <i class="fa-solid fa-palette"></i>  </th>
        <th>Gender <i class="fa-solid fa-mars-and-venus"></i> </th>
      </tr>
    </thead>
    <tbody>
      {{#each singleFishtank.fish}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            {{species}}
          </td>
          <td>
            {{color}}
          </td>
           <td>
            {{gender}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty fishtank!
    </h3>

{{/if}}
