
{{#if fish}}
  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th class="four wide">Fish Name <i class="fa-solid fa-fish"></i></th>
        <th class="four wide">Species <i class="fa-solid fa-address-card"></i></th>
        <th class="two wide">Color <i class="fa-solid fa-palette"></i></th>
        <th class="two wide">Gender <i class="fa-solid fa-mars-and-venus"></i></th>
       <th class="two wide" style="text-align: left; padding-left: 40px;">Edit</th>
        <th class="two wide"style="text-align: left; padding-left: 40px;">Delete </th>
      </tr>
    </thead>
    <tbody>
      {{#each fish}}
        {{> listOnefish fishtankId=../id }}
        {{> editfish fishtankId=../id }}

        <script>
          document.querySelector("#showEdit{{@index}}").addEventListener('click', () => {
            document.querySelector("#fish{{@index}}").style.display = "none";
            document.querySelector("#edit{{@index}}").style.display = "table-row";
          });
          document.querySelector("#hideEdit{{@index}}").addEventListener('click', () => {
            document.querySelector("#fish{{@index}}").style.display = "table-row";
            document.querySelector("#edit{{@index}}").style.display = "none";
          });
        </script>

      {{/each}}
    </tbody>
  </table>
{{else}}
  <h3 class="ui message">
    Empty fishtank!
  </h3>
{{/if}}